$para-font: "Fanwood", sans-serif;
html, body {
    height: 100%;
    width: 100%;
    font-family: $para-font;
    color: #222;
    margin: 0;
}

#parallax {
    background-image: url('/img/sourdough.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

#parallax1 {
    background-image: url('/img/cookies.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;

}

#parallax2 {
    background-image: url('/img/multigrain.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

    height: 700px;
}
.main-content {
    background-color: #fefef2;
}
.padding {
    padding-bottom: 2rem;
}

.overlap {
    position: absolute;
    width: 100%;
    top: 0;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 10px;
    p {
        font-size: 0.8rem;
        font-weight: bold;
    }
}


nav {
    // background-color: #f7323f;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 300px;
    .nav-link {
        color: black;
        font-size: 1.3rem;
    }
    .nav-link:hover {
        text-decoration: underline;
        font-size: 1.4rem;
    }
}

.navAnimation {
    animation-name: makeRed;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.listAnimation {
    animation-name: givePadding;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes givePadding {
    from {
        padding-left: .5rem;
        padding-right: .5rem;
    }
    to {
        padding-left: 1rem;
        padding-right: 2rem;
    }
}
@keyframes makeRed {
    from { 
            background-color: rgba(0, 0, 0, 0); 
         }
    to { 
            background-color: #f7323f; 
       }
}

#main {
    padding: 15px;
    border-radius: 10px;
    border-radius: 25px;

}

#carouselTitle {
    margin: 0;
}

.carousel-inner {
    img {
        width: 100%;
        height: 100%;
    }
}

.menu {
    margin-bottom: 50px;
}


