#parallax {
  background-image: url("/img/sourdough.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  margin-bottom: 500px; }

#parallax1 {
  background-image: url("/img/cookies.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px; }

#parallax2 {
  background-image: url("/img/multigrain.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
  height: 700px; }

.overlap {
  position: absolute;
  width: 100%;
  top: 0; }

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 10px; }
  .jumbotron p {
    font-size: 13px;
    font-weight: bold; }

nav {
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 200px; }
  nav .nav-link {
    color: black;
    font-size: larger; }
  nav .nav-link:hover {
    text-decoration: underline; }

.navRed {
  animation-name: makeRed;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes makeRed {
  from {
    background-color: rgba(0, 0, 0, 0); }
  to {
    background-color: #f7323f; } }

#main {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 500px;
  border-radius: 25px; }

#carouselTitle {
  margin: 0;
  color: white;
  font-style: italic; }

.carousel-inner {
  border-radius: 10px; }

p {
  font-family: "Fanwood", sans-serif; }
